#menu:before{
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #ffffff;
    z-index:0;
    content: "";
    position: relative;
    left: 120px;
    top: 10px;
    width: 20px;
    height: 20px;
    transform: rotate(225deg);
    
  }
#menu{   
    position:fixed;
    z-index:9;
    background-color: #ffffff;
    width: 300px;

}