.header {
    height: 8vh;
    background-color: #F8DF4F;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr; 
    grid-auto-flow:dense;
    justify-content: stretch;
    align-items: center;
    /* column-gap: normal; */
    padding: 2vh 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.left{
  /* column-count: 2; */
  /* display: flex; */
  /* float: left; */
  /* width: 60px; */
  grid-column: -3;
  float: left;
}

.middle{
  /* display: flex; */
/* justify-content:center; */
/* display: flex; */
  /* flex-direction: row; */
  justify-self: center;
  grid-column: 1;
  
}


.right{
  float: right;
  /* display:flex; */
  grid-column:2;
  display: flex;
}

.logo {
/* font-size: ; */
font-weight: bold;
color: #000000;

}

.logotext{
  font-size: 50px;
}

.header button {
    font: inherit;
    cursor: pointer;
    display: block;
    /* width:30px;
    height:30px; */
    text-align: center;
    font-size: 1.2rem;
    color: #77002e;
    border: 1px solid transparent;
    background-color: transparent;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


.icon img{
	/* width: 50px;
	height: 50px; */
	/* -webkit-border-radius: 30px;  */
    border: 1px solid;
	border-radius: 50%; 
	}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 3rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1rem;
    color: #3D4176;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #5D5FEF;
  }
  